#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br
      %br
      %h1.header.center.teal-text.text-lighten-2 Register Your Bike
      .row.center
        %h5.header.col.s12.light Fill out a simple form to get a street legal dirtbike or atv title.
      
      %br
      %br
  .parallax= image_tag 'background3.jpg', alt: 'Unsplashed background img 1'
.container
  .section
    .row
      .col.s16.center
        %h3
          %i.mdi-content-send.brown-text
        %h4 Please Donate
        %p.left-align.light.center Please donate to keep Legal Off-Road up and running. It is a free service (others charge hundreds) and we will keep it free as long as we can. Even a small donation of 5$ is greatly appreciated.
      .row.center
        %form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_blank'}
          %input{name: 'cmd', type: 'hidden', value: '_donations'}
          %input{name: 'business', type: 'hidden', value: 'KVHNU3QL5C2HN'}
          %input{name: 'item_name', type: 'hidden', value: 'Legal Off-Road'}
          %input{name: 'currency_code', type: 'hidden', value: 'USD'}
          %button.btn.btn-info.btn-large{type: 'submit'}
            Donate
