<div class='container'>
  <h1 class='center'>Legal Title Form</h1>
  <h3 class='center'>Fill out all fields on form.</h3>
  <h5 class='center'>(USE YOUR REALL ADDRESS. MAKE SURE INFO MATCHES DRIVERS LISCENCE. ITS OK IF ITS NOT IN SD)</h5>
  <%= render 'form' %>
  <br>
  <br>
</div>
