.container
  %h1.center Legal Title Form
  %h3.center Fill out all fields on form.
  %h5.center (USE YOUR REALL ADDRESS. MAKE SURE INFO MATCHES DRIVERS LISCENCE. ITS OK IF ITS NOT IN SD)
  = render 'form'
  %br
  %br
